<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/hostel</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="current_session_context_class">thread</property>
        <!--<property name="packagesToScan" >entity</property>-->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="edu.nju.data.entity.AccountEntity"/>
        <mapping class="edu.nju.data.entity.AuthorityEntity"/>
        <mapping class="edu.nju.data.entity.CheckEntity"/>
        <mapping class="edu.nju.data.entity.HotelEntity"/>
        <mapping class="edu.nju.data.entity.MemberEntity"/>
        <mapping class="edu.nju.data.entity.MessageEntity"/>
        <mapping class="edu.nju.data.entity.PictureEntity"/>
        <mapping class="edu.nju.data.entity.ReserveEntity"/>
        <mapping class="edu.nju.data.entity.RoomEntity"/>
        <mapping class="edu.nju.data.entity.UserEntity"/>
    </session-factory>
</hibernate-configuration>